deprecated

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs
sdist
*idea
*.yaml
*.buf
*.hdr
*.obs*
*.log
*.mseed
*.dat
*.xml
*.pickle
*.npz
*.png
.mypy_cache/
tmp/
data/NLLOC_grids/
libs/microquake
config/*.toml
*.s
*.txt
*.pdf
*.log.*


.DS_Store
*~
.*.sw[po]
.build
.ve
.env
.cache
.pytest
.bootstrap
*.bak
common/*


# Unit test / coverage reports
.coverage
.tox
.coverage.*
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov
data/tests

# Sphinx
docs/_build

# Override temporarily for tests
!data/tests/*
.vscode/*
