[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
future = "*"
lxml = "*"
matplotlib = "*"
numpy = "*"
obspy = "*"
pymongo = "*"
pyparsing = "*"
scipy = "*"
scikit-fmm = "*"
cython = "*"
kafka = "*"
prometheus-client = "*"
avro = "*"
fastavro = "*"
confluent-kafka = "*"
pathos = "*"
pyyaml = "*"
toolz = "*"

[dev-packages]

[requires]
python_version = "3"
