[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==1.0.11"
future = "==0.15.2"
# lxml = "==3.5.0"
matplotlib = "==1.5.0"
six = "==1.10.0"
numpy = "*"
obspy = "*"
scipy = "*"
cycler = "*"
memoize = "*"
mplstereonet = "*"
pandas = "*"
"py4j" = "*"
pyevtk = "*"
pymongo = "*"
pyvtk = "*"
pyparsing = "*"
scikit-fmm = "*"
lxml = "*"
microquake = {git = "ssh://git@seismic-gitlab.eastus.cloudapp.azure.com/root/microquake.git"}
xseis2 = {git = "ssh://git@seismic-gitlab.eastus.cloudapp.azure.com/rio-tinto/xseis.git"}
cython = "*"

[dev-packages]

[requires]
python_version = "3"
