[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
future = "*"
lxml = "*"
matplotlib = "*"
numpy = "*"
obspy = "*"
pymongo = "*"
pyparsing = "*"
scipy = "*"
scikit-fmm = "*"
cython = "*"
prometheus-client = "*"
avro = "*"
fastavro = "*"
pathos = "*"
pyyaml = "*"
toolz = "*"
pytz = "*"
msgpack = "*"
dynaconf = "*"
ipython = "*"
redis = "*"
microquake = {editable = true,path = "./libs/microquake"}
confluent-kafka = "==0.11.5"
kafka-python = "*"

[requires]
python_version = "3"

[dev-packages]
black = "*"
mypy = "*"
pylint = "*"

[pipenv]
allow_prereleases = true
